{% extends 'base.html' %}

{% block title %}
  Add Patient - Clinic Management
{% endblock %}

{% block content %}
<div class="clinic-container">
  <h1 class="form-title titleh1">Add a New Patient</h1>

  <form method="POST" action="{% url 'add_patient' %}" class="clinic-form">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="name" class="form-label">Patient Name:</label>
        <input type="text" name="name" id="name" class="form-input" required>
    </div>
    
    <div class="form-group">
        <label for="address" class="form-label">Address:</label>
        <textarea name="address" id="address" class="form-input" required></textarea>
    </div>
    
    <div class="form-group">
        <label for="phone_number" class="form-label">Phone Number:</label>
        <input type="text" name="phone_number" id="phone_number" class="form-input" required>
    </div>

    <div class="form-group">
        <label for="date_of_birth" class="form-label">Date of Birth:</label>
        <input type="date" name="date_of_birth" id="date_of_birth" class="form-input" required>
    </div>

    <div class="form-group">
        <label for="last_4_digits_ssn" class="form-label">Last 4 Digits of SSN:</label>
        <input type="text" name="last_4_digits_ssn" id="last_4_digits_ssn" class="form-input" required maxlength="4">
    </div>

    <div class="form-group">
        <label for="gender" class="form-label">Gender:</label>
        <select name="gender" id="gender" class="form-input" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
    </div>

    <div class="form-group">
        <button type="submit" class="form-button">Add Patient</button>
    </div>
</form>

</div>
{% endblock %}
